/* Universal Properties */
.DivSection{
    margin-left:142px;
    padding-top: 90px;
    padding-bottom: 50px;
}
/* Navigation bar  */
p{
    margin-bottom: 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #070F2B ;
    padding-top: 70px;
    
}
li{
    list-style-type: none;
    display: inline;
}
ul li a{
    display: inline;
    margin-left: auto;
    font-size: x-large;
    padding: 20px;
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: #00A9FF;
}
.hello{
    font-size:60px;
    font-family: "Playwrite HR", cursive; 
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    color: #00A9FF;
}
.heading{
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #00A9FF;
}
.para{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    /* color: #00A9FF; */
    color: white;
}
.nav-container{
    background-color: rgb(7, 15, 43,0.8);
    height: 70px;
    text-align: end;
    padding-top: 10px;
    position:fixed;
    top: 0;
    width: 100%; 
    z-index: 9999;
}
.logo{
    margin-right: auto;
    margin-left: 80px;
    float: left;
}

.home{
    margin-left: auto;
}
.contact{
    margin-right: 50px;
}

/* section1 */
.introDiv{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    height:75vh;

}
.intro{
    width:40%;
    margin-top: 150px;
    margin-left: 142px;
}
.introPara{
    font-size: x-large;
}

ion-icon {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out 0;
}
ion-icon:hover{
    color: 	#4285F4;
    transform: translateY(-5px);
}
.resume{
    margin-top: 20px;
    width: 200px;
    border-radius: 20px;
    /* background-color: #00A9FF; */
    color: white;
}
.autoType{
    color: red;
}
.introImg{
    background: url(assets/profile-pic.png);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    margin-top:50px ;
    margin-right: 100px;
    box-shadow: 0 15px 25px 5px rgba(255, 255, 255, 0.2) ;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 40%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}
/* section2 */
.aboutPara{
    margin-top: 50px;
    margin-right: 150px;
}
.skills{
    padding: 20px 0 20px 0;
    text-align: left;
    font-family: "Averia Serif Libre", serif;
    color: #4285f4;
    font-size: 25px;
}
.badge{
    background-color:rgb(66, 133, 244,0.5) ;
    font-size: 15px;
    margin-right: 10px;
}
.section1{
    background-color: #070F2B;
}
.section2{
    background-color: #1B1A55;
}
.footer{
    background-color:#070F2B;
}
.card-body{
    background-color:#070F2B ;
}
footer{
    margin-bottom: 0cm;
    text-align: center;
}